/* body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
} */

.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  background-color: rgb(223, 219, 219);
}

button {
  border: none;
  padding: 10px 30px;
}

button:hover {
  cursor: pointer;
}

.result-output {
  grid-column: 1 / 5;
  text-align: end;
  padding: 10px;
  background-color: rgb(180, 177, 177);
  color: white;
  height: 20px;
}

.zero {
  grid-column: 1 / 3;
}

.operations {
  background-color: rgb(230, 147, 40);
}
